@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./image/indexbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Fredoka One', sans-serif;
  background-color: #eee;
  color: black;
}

img#imglogo{
  width: auto;
  height: 450px;
}

div#logogame.row{
  display: flex;
  justify-content: center;
}

div#bodycontainer.container{
 text-align: center;
}

