@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./image/skybg.jpg');
  font-family: 'Fredoka One', sans-serif;
  background-color: #eee;
  color: black;
}

img#star{
  height: 5rem;
  width: 5rem;
}

img#clockicon{
  height: 5rem;
  width: 5rem;
  display: inline-block;
}

h1{
  display: inline-block;
}

img#nexticon{
  height: 5rem;
  width: 5rem;
}

img#picimg{
  height: 15rem;
  width: 15rem;
}

div#bodycontainer.container{
  background-image: url('./image/islandbg.jpg');
  width: 100%;
  height: auto;
  background-size: cover;
}

div#boxstar.col-8{
  background-image: linear-gradient(#ffb596,#fe8195);
  border-style: solid;
  border-color: cornsilk;
  border-bottom-style: double;
}

div#boxclock{
  height: 94px;
  width: 210px;
  background-image: linear-gradient(#fad0c7,#fed1fa);
  border-style: solid;
  border-color: cornsilk;
  border-bottom-style: double;
}

div#picbox.col{
  display:flex;
  justify-content: center;
}

div#next.col{
  display: flex;
}

div#nextchild{
  margin-left: auto;
  order: 2;
}

div#clock.col{
  display: flex;
  justify-content: center;
}

.text-elements {
  display: flex;
  justify-content: space-around;
}

.droppable-elements {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.draggable-elements {
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.textbox {
  -webkit-text-stroke: 5px whitesmoke;
  color: #AEB8FE;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0rem 0.5rem;
}

.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}

.draggable:hover {
  opacity: 0.5;
}

.droppable {
  height: 6.5rem;
  width: 6.5rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: #fff;
  border: 3px dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.droppable span {
  font-size: 1.25rem;
  pointer-events: none; /* The element is never the target of pointer events */
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
}

.droppable.dropped {
  border-style: solid;
  color: #fff;
}

.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppable.dropped i {
  pointer-events: none;
}

.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

